@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import "@fontsource/pretendard/400.css"; /* Regular */
@import "@fontsource/pretendard/500.css"; /* Medium */
@import "@fontsource/pretendard/700.css"; /* Bold */

@font-face {
  font-family: "Meetme";
  src: url("/fonts/meetme.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-sans;
}
